@model Core.Models.Child

@* <div>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Birth Date:</strong> @(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("yyyy-MM-dd") : "N/A")</p>
    <p><strong>Gender:</strong> @Model.Gender</p>
    <p><strong>City:</strong> @(Model.City != null ? Model.City.Name : "N/A")</p>

    <p><strong>Has OAP:</strong> @Model.HasOAP</p>
    <p><strong>Email:</strong> @Model.User.Email</p>
</div> *@

<table style="border-collapse: collapse; width: 100%; text-align: left;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th style="padding: 8px; border: 1px solid #ddd;">Name</th>
            <th style="padding: 8px; border: 1px solid #ddd;">Member ID</th>
            <th style="padding: 8px; border: 1px solid #ddd;">Birth Date</th>
            <th style="padding: 8px; border: 1px solid #ddd;">Gender</th>
            <th style="padding: 8px; border: 1px solid #ddd;">City</th>
            <th style="padding: 8px; border: 1px solid #ddd;">Has OAP</th>
            <th style="padding: 8px; border: 1px solid #ddd;">Email</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td style="padding: 8px; border: 1px solid #ddd;">@Model.Name</td>
            <td style="padding: 8px; border: 1px solid #ddd;">@Model.MemberID</td>
            <td style="padding: 8px; border: 1px solid #ddd;">
                @(Model.BirthDate.HasValue? Model.BirthDate.Value.ToString("yyyy-MM-dd") : "N/A")
            </td>
            <td style="padding: 8px; border: 1px solid #ddd;">@Model.Gender</td>
            <td style="padding: 8px; border: 1px solid #ddd;">
                @(Model.City != null ? Model.City.Name : "N/A")
            </td>
            <td style="padding: 8px; border: 1px solid #ddd; color:@(Model.HasOAP == false ? "#DC3545" : "inherit");">@Model.HasOAP</td>
            <td style="padding: 8px; border: 1px solid #ddd;">@Model.User.Email</td>
        </tr>
    </tbody>
</table>


<a href="/Child/List" style="display: inline-block; margin-top: 20px; background-color: #ddd; color: black; text-decoration: none; padding: 5px 10px; margin-right: 20px; border: 1px solid #ccc;">Back to Children List</a>
<a href="/Child/MoreInfo/@Model.ChildID">More Profile</a>
<div style="border-top: 2px solid #ddd; margin: 20px 0;"></div>

<ul class="nav nav-tabs mb-3">

    <li class="nav-item"><a class="nav-link @(ViewBag.ActiveTab == "ManageRegistrations" ? "active" : "")" href="#" data-url="/Child/ManageRegistrations/@Model.ChildID">Registrations</a></li>
    <li class="nav-item"><a class="nav-link @(ViewBag.ActiveTab == "EnrollmentsHistory" ? "active" : "")" href="#" data-url="/Child/EnrollmentsHistory/@Model.ChildID">Enrollments</a></li>
    <li class="nav-item"><a class="nav-link @(ViewBag.ActiveTab == "ManagePayments" ? "active" : "")" href="#" data-url="/Child/ManagePayments/@Model.ChildID">Payments</a></li>
    <li class="nav-item"><a class="nav-link @(ViewBag.ActiveTab == "ManageBalance" ? "active" : "")" href="#" data-url="/Child/ManageBalance/@Model.ChildID">Balance</a></li>
    <li class="nav-item"><a class="nav-link @(ViewBag.ActiveTab == "ManageNotes" ? "active" : "")" href="#" data-url="/Child/ManageNotes/@Model.ChildID">Notes</a></li>
</ul>

<!-- Content Area -->
<div id="contentArea" class="border p-3">
    <!-- Subpage will load here -->
</div>


@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
             //alert("Page ready!");
            // Load first tab by default
            

            var activeLink = $("ul.nav-tabs a.active");
            var url = activeLink.data("url");
            // alert(url);
            // if we are on Parents tab, append editParentId
            // var editParentId = '@(ViewBag.EditParentId ?? 0)';
            // if (activeLink.text().includes("Parents") && editParentId > 0) {
            //     url += "?editParentId=" + editParentId;
            // }
            $("#contentArea").load(url);


            // Handle clicks
            $("ul.nav-tabs a").on("click", function (e) {
                e.preventDefault();
                $("ul.nav-tabs a").removeClass("active");
                $(this).addClass("active");

                var url = $(this).data("url");
                $("#contentArea").load(url);
            });
        });
    </script>
}



